*{
box-sizing: border-box;
margin:0px;
color: white;
}
header.Title{
  text-align: center;
background-color: black;
padding:20px;

}
h1{
font-size: 40px;
}
h2.instruction{
text-align:center;
font-size: 30px;
margin-top: 30px;
}
body{
background-color: black
}
p{
	overflow:none;
  	text-align: justify;
	height:200px;
	text-indent: 50px;
	margin-top: 20px;
	margin-right: 300px;
	margin-left: 300px;
  line-height: 1.5em;
	
	font-size: 23px;	
}
a#google{
  color:#f2e10d;
  text-decoration: dotted;
}
h2.tbname{
font-size: 30px;
margin-top: 2em;
margin-bottom: 1em;
text-align: center;
}
ul{
list-style-type: none;
margin-left: 430px;
}

li{
  display:inline;
}
button{
  font-size: 21px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  border-radius: 20px;
}
button.pink:hover{
background-color: #f59cde;
}
button.blue:hover{
background-color:#4491f5;
}
button.purple:hover{
background-color:#a081b8;
}
button.green:hover{
  background-color: #518c46
}
table{
margin-left:425px;
margin-top: 10px;
}