* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

nav {

    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    color: #dfe2e1;
    justify-content: space-between;
    /*space-around*/
    background-color: #102027;
    margin-bottom: 15px;
}

/* Name */
#title-name {
    font-size: min(3.5vw, 35px);
    margin: 10px;
    font-family: "Sofia", sans-serif;
}

/* Nav buttons */
nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    padding: 0px 15px;
}

nav a {
    font-family: "Arial";
    font-size: min(1.6vw, 20px) ;
    color: white;
    font-weight: bold;
    text-decoration: none;
}




/* img {
    width: min(100%, 500px);
    border-radius: 50%;
    object-fit: cover;
} */



footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #102027;
}
    


.icongroup a {
    margin: 6px;
    color: white;
}

.icongroup a:hover {
    color: red;
}

#footer-name {
    margin: 5px;
    color: white;
}